import React from 'react';
import useStyles from "./styles";

const {{pascalCase name}} = (props) => {
const classes = useStyles(props);
return (
<div>
  {{pascalCase name}}
</div>
);
};

export default {{pascalCase name}};